.example-card {
    min-width: 400px;
    margin-bottom: 20px;
    max-height: 500px;
}

.example-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

.mat-card-image {
  max-height: 300px;
  width: auto;
  margin: 0 auto;
}

.card-logo {
  max-width: 50px;
}

.btn { 
  margin-left: 10px;
  border:1px solid;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.image.floating {
  animation: fade-out-in-right 2s linear 0s 1 normal forwards;
  position: absolute;
  right: 20px;
  top: 20px;
}

@keyframes fade-out-in-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}