<form>
    <div>
        <label for="status" class="form-label">Статус</label>
      <input type="text" class="form-control" name="status" [(ngModel)]="status" disabled>
    </div>
    <div class="footer">
        <button class="btn btn-primary" (click)="this.setStatus('Сборка заказа')">Сборка заказа</button>
        <button class="btn btn-warning" (click)="this.setStatus('В пути')">В пути</button>
        <button class="btn btn-success" (click)="this.setStatus('Доставлено')">Доставлено</button>
    </div>
    <button (click)="updateOrder()" *ngIf="order.orderId!=''" class="btn btn-primary">
      Изменить
    </button>
  </form>

